body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Serif Display";
    letter-spacing: 2px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

a {
    text-decoration: none;
}

/* Header */
.brand {
    font-size: 36px;
    font-family: "DM Serif Display", serif;
    color: #2d2640;
    text-decoration: none;
}

.nav a {
    color: #6e6b74;
    text-transform: uppercase;
    margin-left: 32px;
    font-size: 20px;
    font-weight: 700;
}

.head {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px 0;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn {
    border: 1px solid #6e6b74;
    border-radius: 3px;
    padding: 15px;
    color: #6e6b74;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #2d2641;
    color: #ffffff;
}

/* Hero */
.hero {
    background-color: #2d2640;
    padding: 60px 0;
    color: #ffffff;
    margin-top: 88px;
}

.align-start {
    align-items: flex-start;
}

.col-1-2 {
    flex: 0 1 45%;
}

.line {
    width: 200px;
    height: 2px;
    background-color: #bcb8c4;
}

.hero-heading {
    font-size: 56px;
    margin-top: 16px;
    line-height: 1.1;
}

.hero-text {
    color: #bcb8c4;
    margin: 32px 0;
    font-size: 18px;
}

.btn-secondary {
    border-color: #ffffff;
    color: #ffffff;
    text-transform: uppercase;
}

.btn-secondary:hover {
    background-color: #ffffff;
    color: #2C2641;
}

.hero-img {
    margin-bottom: -160px;
}

/* About */
.about {
    margin-top: 150px;
    margin-left: 10px;
}

.about p {
    font-size: 20px;
    line-height: 1.6;
    color: #6e6b74;
    margin: 24px 0;
}

.heading {
    font-size: 48px;
    color: #2d2640;
}

/* Feature */
.feature {
    padding: 10px;
    margin-top: 120px;
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
}

.main {
    line-height: 0.5;
}

.feature h3 {
    font-size: 32px;
    color: #2d2640;
    text-transform: capitalize;
    margin: 40px 20px 8px 26px;
}

.feature p {
    color: #6e6b74;
    margin: 0 20px 0 26px;
}

.col-1-3 {
    flex: 0 1 40%;
}

.icon-box {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #8ab4f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 900px;
    margin-left: 26px;
    margin-top: 30px;
}

/* CTA */
.CTA {
    background-color: #2d2640;
    padding: 70px 70px;
    margin-top: 88px;
}

.CTA h3 {
    color: #ffffff;
    font-size: 44px;
}

/* Footer */
.footer {
    margin-top: 50px;
    margin-left: 0px;
}

.social {
    border-bottom: 1px solid #6e6b74;
}

.footer h2 {
    font-size: 36px;
    margin: 0px;
}

.footer a {
    color: #6e6b74;
    margin-left: 40px;
    font-size: 25px;
}

.footer a:hover {
    color: #2d2641;
}

.footer-nav {
    text-align: center;
    padding: 25px 0px;
}

.copyright-info {
    text-align: center;
    background-color: #2d2640;
    color: #cbc9c9;
    font-size: 22px;
    padding: 35px 0;
}